*{margin: 0; padding: 0;}

$md-space: 30px;
$lg-space: 70px;
$sm-space: 10px;

@mixin mybtn2 {
    border: none;
    outline: none;
    background-color: #BB2D3B;
    padding: 7px 20px;

    a{
        color: white;
    }
}

@mixin mybtn {
    border: none;
    outline: none;
    background-color: #222222;
    color: white;
    padding: 15px 0px;
    width: 19.8%;
    margin: auto;

    img{
        height: $sm-space + 10;
        margin-right: 10px;
    }
    p{
        margin-right: 10px;
    }
    a{
        color: white
    }
}
.btn3{
    @include mybtn();

    &:hover{
        background-color: #BB2D3B;
        // padding-bottom: 30px;
        transition: 0.4s;
        // color: #BB2D3B;
        transform: scale(1.1);
    a{
        color: #b1aeae;
    }
}
}

.body_sub{
    padding-top: 10pc;
    padding-bottom: 15pc;
    background-color: black;
}
.body_sub3{
    padding-top: 3pc;
    padding-bottom: 15pc;
    background-color: black;
}
.body_about{
    background-color: black;
}

.abt_txt{
    color: #918d8d;
}

.img1{
    height: $md-space;
}
.img2{
    height: $lg-space * 4;
    margin-left: 25%;
}
.btn1:hover .abt a{
    margin-right: $sm-space;
    transition: 0.4s;
    color: #ccc8c8d0;

}
.btn1{
    @include mybtn2()
}
.flex-gap{
    gap: 18px;
    flex-wrap: wrap;
}
.h7{
    text-align: center;
    font-size: $md-space * 2;
}
.h6{
    text-align: center;
    font-size: $md-space * 2;
    margin-top: $lg-space;
}
// .h7 span, .h6 h1{
//     font-size: $md-space * 3;
// }
.h6 span, h1{
    font-size: $md-space * 2;
}
.card_bg{
    background-color: #222222;
    
    &:hover{
        // box-shadow: 0px 0px 5px 2px #bb2d3b9c;
        background-color: #3d3b3b;
        p{
            color: #948f8f;
        }
    }
}
.img_skil img{
    width: 50px;
}
.img_skil2 img{
    width: 80px;
}
.img_skil, .img_skil2{
    text-align: center;
    height: 100px;
    background-color: #222222;
    color: white;

    &:hover{
        background-color: #ebe8e8;
        color: #222222;
    }
}
.wrk{
    text-align: center;
}
.txth{
    height: 250px;

    &:hover{
        .txt{
            display: block;
        }
        img{
            display: none;
        }
    }
}
.txth img{
    height: 230px;
}
.txt{
    display: none; height: 250px;
    
}
.txt-1{
    background-color: #222222;
    height: 230px;
}
.txt-3{
    flex-direction: column; text-align: center;
}
.txt-4{
    cursor: pointer;
}
.inp-bg{
    background-color: #222222;
    width: 50%;
    padding: 8px 0px;
    border: none;
    outline: none;
    margin: 10px;
    padding-left: 10px;
    color: white;
    border-radius: 20px;
}
.inp-com{
    width: 97%;
    background-color: #222222;
    padding: 10px 0px 100px 10px;
    border: none;
    outline: none;
    color: white;
    margin: 10px 0px 0px 10px;
    border-radius: 4px;
}
.cont_img{
    border-radius: 50%;
    background-color: white;
    margin-right: 5px;
    cursor: pointer;

    &:hover{
        transition: 0.5s;
        background-color: #BB2D3B;
    }
}
.contact_img{
    height: 30px;
    background-color: black;
}
.potbtn2{
    background-color: transparent;
    border: 1px solid #BB2D3B;
    color: #BB2D3B;

    &:hover{
        transition: 0.4s;
        background-color: #BB2D3B;
        color: white;
        img{
            background-color: white;
            padding: 2px;
            border-radius: 50%;
            margin-left: 10px;
            
        }
    }
}
.portbtn{
    text-align: center;
    img{
        height: 25px;
    }

}
.roundp{
    border-radius: 6px;
}
.myimg{
    border-bottom-right-radius: 25%;
    // border-radius: 25%;
    border-top-left-radius: 25%;
   
    border-right: 3px solid rgb(10, 10, 83);
    border-left: 3px solid rgb(109, 16, 16);

}

@media(max-width:454px){
    .btn3 span{
        font-size: 11px;
    }
    .btn3 img{
        height: 12px;
    }
}

@media(max-width:574px){
    .to_flx{
        display: grid; grid-template-columns: auto;
        margin: auto;
        width: 50%;
    }
    .img_skil, .img_skil2{
        padding:0px;
    }
}