* {
  margin: 0;
  padding: 0;
}

.btn3 {
  border: none;
  outline: none;
  background-color: #222222;
  color: white;
  padding: 15px 0px;
  width: 19.8%;
  margin: auto;
}
.btn3 img {
  height: 20px;
  margin-right: 10px;
}
.btn3 p {
  margin-right: 10px;
}
.btn3 a {
  color: white;
}
.btn3:hover {
  background-color: #BB2D3B;
  transition: 0.4s;
  transform: scale(1.1);
}
.btn3:hover a {
  color: #b1aeae;
}

.body_sub {
  padding-top: 10pc;
  padding-bottom: 15pc;
  background-color: black;
}

.body_sub3 {
  padding-top: 3pc;
  padding-bottom: 15pc;
  background-color: black;
}

.body_about {
  background-color: black;
}

.abt_txt {
  color: #918d8d;
}

.img1 {
  height: 30px;
}

.img2 {
  height: 280px;
  margin-left: 25%;
}

.btn1:hover .abt a {
  margin-right: 10px;
  transition: 0.4s;
  color: rgba(204, 200, 200, 0.8156862745);
}

.btn1 {
  border: none;
  outline: none;
  background-color: #BB2D3B;
  padding: 7px 20px;
}
.btn1 a {
  color: white;
}

.flex-gap {
  gap: 18px;
  flex-wrap: wrap;
}

.h7 {
  text-align: center;
  font-size: 60px;
}

.h6 {
  text-align: center;
  font-size: 60px;
  margin-top: 70px;
}

.h6 span, h1 {
  font-size: 60px;
}

.card_bg {
  background-color: #222222;
}
.card_bg:hover {
  background-color: #3d3b3b;
}
.card_bg:hover p {
  color: #948f8f;
}

.img_skil img {
  width: 50px;
}

.img_skil2 img {
  width: 80px;
}

.img_skil, .img_skil2 {
  text-align: center;
  height: 100px;
  background-color: #222222;
  color: white;
}
.img_skil:hover, .img_skil2:hover {
  background-color: #ebe8e8;
  color: #222222;
}

.wrk {
  text-align: center;
}

.txth {
  height: 250px;
}
.txth:hover .txt {
  display: block;
}
.txth:hover img {
  display: none;
}

.txth img {
  height: 230px;
}

.txt {
  display: none;
  height: 250px;
}

.txt-1 {
  background-color: #222222;
  height: 230px;
}

.txt-3 {
  flex-direction: column;
  text-align: center;
}

.txt-4 {
  cursor: pointer;
}

.inp-bg {
  background-color: #222222;
  width: 50%;
  padding: 8px 0px;
  border: none;
  outline: none;
  margin: 10px;
  padding-left: 10px;
  color: white;
  border-radius: 20px;
}

.inp-bg:focus, .inp-com:focus{
  border: 1px solid greenyellow;
}

.inp-com {
  width: 97%;
  background-color: #222222;
  padding: 10px 0px 100px 10px;
  border: none;
  outline: none;
  color: white;
  margin: 10px 0px 0px 10px;
  border-radius: 4px;
}

.cont_img {
  border-radius: 50%;
  background-color: white;
  margin-right: 5px;
  cursor: pointer;
}
.cont_img:hover {
  transition: 0.5s;
  background-color: #BB2D3B;
}

.contact_img {
  height: 30px;
  background-color: black;
}

.potbtn2 {
  background-color: transparent;
  border: 1px solid #BB2D3B;
  color: #BB2D3B;
}
.potbtn2:hover {
  transition: 0.4s;
  background-color: #BB2D3B;
  color: white;
}
.potbtn2:hover img {
  background-color: white;
  padding: 2px;
  border-radius: 50%;
  margin-left: 10px;
}

.portbtn {
  text-align: center;
}
.portbtn img {
  height: 25px;
}

.roundp {
  border-radius: 6px;
}

.myimg {
  border-bottom-right-radius: 25%;
  border-top-left-radius: 25%;
  border-right: 3px solid rgb(10, 10, 83);
  border-left: 3px solid rgb(109, 16, 16);
}

@media (max-width: 454px) {
  .btn3 span {
    font-size: 11px;
  }
  .btn3 img {
    height: 12px;
  }
}
@media (max-width: 574px) {
  .to_flx {
    display: grid;
    grid-template-columns: auto;
    margin: auto;
    width: 50%;
  }
  .img_skil, .img_skil2 {
    padding: 0px;
  }
}/*# sourceMappingURL=style.css.map */